

  .view-note-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 2rem;
    background-color: #ffffff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin-top: 2rem;
  }
  
  .view-note-title {
    font-size: 2.5rem;
    margin-bottom: 0.5rem;
    color: #333;
    font-weight: bold;
  }
  
  .view-note-tag {
    display: inline-block;
    padding: 0.2rem 0.8rem; 
    background-color: #ff4444; 
    color: white;
    border-radius: 15px; 
    font-size: 0.8rem; 
    font-weight: bold; 
    text-transform: uppercase;
    margin-bottom: 1rem;
  }
  
  .view-note-description {
    font-size: 1.25rem;
    color: #555;
    line-height: 1.8;
  }
  


  .btn-copy{
  display: inline-block;
  outline: 0;
  border: 0;
  cursor: pointer;
  font-weight: 600;
  color: rgb(72, 76, 122);
  font-size: 0.9rem;
  height: 1.8rem;
  padding: 10;
  border-radius: 3rem;
  background-image: linear-gradient(180deg,#fff,#f5f5fa);
  box-shadow: 0 0.4rem 0.8rem 0 rgb(37 44 97 / 15%), 0 1px 3px 0 rgb(93 100 148 / 20%);
  transition: all .2s ease-out;}

  .btn-copy:hover{
      box-shadow: 0 0.5rem 1.5rem 0 rgb(37 44 97 / 15%), 0 4px 6px 0 rgb(93 100 148 / 20%);
      color: rgb(76, 76, 76);
  }
  