body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f0f2f5;
  height: 100%;

}

.container{
  margin-top: 2rem;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


i{
  cursor: pointer;
}

/* Icon.css */
.icon-image {
  width: 1rem; 
    height: 1rem; 
}
